{% include 'recipe/navbar.html.twig' %}

{% block title %} Nous contacter {% endblock %}

{% block body %}
<h1>Nous contacter</h1>
                {{ form_start(form)}}
             
                {{ form_end(form)}}
{% endblock %}