{% include 'recipe/navbar.html.twig' %}

{% block body %}
        <h1>Nouvelle categorie</h1>
                {{ form_start(form)}}
                    
                {{ form_end(form)}}
{% endblock %}